<div class="sidebar" id="sidebar">

    <div class="logo">
        <i class="fa-solid fa-receipt"></i>
        Billing Pro
    </div>

    <ul>

        <li>
            <a href="{% url 'dashboard' %}">
                <i class="fa-solid fa-house"></i>
                Dashboard
            </a>
        </li>

        <li>
            <a href="/products/">
                <i class="fa-solid fa-box"></i>
                Products
            </a>
        </li>

        <li>
            <a href="/customers/">
                <i class="fa-solid fa-users"></i>
                Customers
            </a>
        </li>

        <li>
            <a href="/billing/">
                <i class="fa-solid fa-file-invoice"></i>
                Billing
            </a>
        </li>
<li>

    <a href="/reports/">

        <i class="fa-solid fa-chart-line"></i>

        Reports

    </a>

</li>

    </ul>

</div>